<script src="//maps.google.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS']%>"></script>  
<div id="map" style="width: 500px; height: 400px;"></div>
<div class="testing"></div>
<script type="text/javascript">
    //Draw map with center on USA 
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: new google.maps.LatLng(44.99, -98.5),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    //Declare infowindow to show when click on marker 
    var infowindow = new google.maps.InfoWindow();
    var marker, i=0;
    //Loop on Building list 
    //Building refers to app/controllers/buildings_controllers.rb
    var geocoder = new google.maps.Geocoder(); 
    
    <% Building.all.each do |building| %>
        //initialize variables 
        //get address value 
        var f=0, x=0, y=0, z=0;
        var address = <%= raw(building.address_building.to_json) %>;
        //get customer name 
        var customer = <%= raw(building.customer.company_name.to_json) %>;
        //get name of technical contact 
        tech_name = <%= raw(building.full_name_administrator.to_json) %>;
        //compute floors, batteries, columns and elevators for each building 
        x = x + <%= building.batteries.count %>;
        //Loop to get each battery in the current building 
        <% building.batteries.all.each do |battery| %>
            //increment column
            y = y + <%= battery.columns.count %>;
            //Loop to get each column in the battery 
            <% battery.columns.all.each do |column| %>
                
                f = f + <%= column.number_of_floors_served %>;
                //increment the total number of elevators 
                z = z + <%= column.elevators.count %>;
            <% end %>
        <% end %>


        //convert address to longitude and latitude value using Google API  Geocode and draw markers 

        geocoder.geocode( { 'address': address}, function(results, status) {
             
            if (status == google.maps.GeocoderStatus.OK) {
                 
                var lat = results[0].geometry.location.lat();
                 
                var long = results[0].geometry.location.lng();
                marker = new google.maps.Marker({
                   
                position: new google.maps.LatLng(lat, long),
                map: map
                });
                
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    
                    infowindow.setContent('<b>' + address + '</b>' 
                    + '<br>' + 'customer:' + customer 
                    + '<br> <br>' + 'floors: ' + f
                    + '<br>' + 'batteries: ' + x
                    + '<br>' + 'columns: ' + y
                    + '<br>' + 'elevators: ' + z
                    + '<br>' + 'technical contact: ' + tech_name); 
                    infowindow.open(map, marker);
                }
                })(marker, i));
            }
        });
        
        i=i+1;
    <% end %>
</script>